html,
body {
    height: 100%;
}

.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.box-2 {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbody {
    text-align: center;
}